<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- html template borrowed from https://freehtml5.co/ :)-->

{{> headTag}}
<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      {{> headerTag}}

      <!-- end:header-top -->
      <div id="fh5co-about">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-md-offset-1 text-center heading-section animate-box">
              <h3>About Us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row row-bottom-padded-md">
            <div class="col-md-12 animate-box">
              <figure>
                <img src="images/about.jpg" alt="detect and prevent" class="img-responsive">
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-md-offset-1 animate-box">
              <h3>WHY B.E.S</h3>
              <p>B.E.S tailors your requirements into our services. We provide exclusive bespoke services with the highest qualified CP officers working in the industry.</p>

              <ul>
                <li>Close Protection Teams Celebrities, Royal Families</li>
                <li>Politicians/Diplomats, and Business Executives</li>
                <li>Private Parties Door Supervisors, Individual CP, Vetting guests on residential or commercial properties</li>
                <li>Patrol Dog Teams</li>
                <li>Static Security Multi National Construction Site Security Solutions</li>
                <li>Exclusive VIP Clubs Security Supervisors and Managers</li>
                <li>Advance Security Drivers  Airport pick ups and drop offs, and 24hr chauffer services</li>
                <li>Investigation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <!-- map container -->
      <div id="map" class="fh5co-map"></div>

      {{> footerTag}}
    </div><!-- END fh5co-page -->
  </div><!-- END fh5co-wrapper -->

  {{> mapScripts}}
</body>

</html>
