<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<!-- html template borrowed from https://freehtml5.co/ :)-->

{{> headTag}}

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">
            {{> headerTag}}

            <!-- end:header-top -->
            <div id="fh5co-about">
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-10 col-md-offset-1 animate-box">
                          <h3>
                            CCTV Remote Monitoring
                          </h3>

                          <p>
                            Utilising your existing CCTV system or opting for a new bespoke package we can remotely monitor your premises in real time, pre determined checks or by receiving alarms triggered by your detectors on site. We using the latest up-to-date manufacturing and proven technology from multi camera and dedicated access to stand alone systems. We specialise in PAC, access control, and bespoke technology systems.
                          </p>

                          <h3>
                            CCTV & Property Protection
                          </h3>

                          <p>
                            Your property is not just your home but also a significant investment and both aspects need protection of the highest level. Our property protection services include static guards, mobile patrol units, dog patrols, residential area security and all supported with the latest technology in home and property security devices.

                            Providing you with the peace of mind and comfort that your family and property are secure 24 hours a day, every day.
                          </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="container">
                  <div class="row row-bottom-padded-md">
                    <div class="col-md-12 animate-box">
                      <figure>
                        <img style="margin: 0 auto" src="images/images.jpeg" alt="detect and prevent" class="img-responsive">
                      </figure>
                    </div>
                  </div>
                </div> -->
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-10 col-md-offset-1 animate-box">
                          <h3>
                            Commercial / Business
                          </h3>

                          <p>
                            Over half (51%) of small and medium sized businesses in the UK have been targeted by crime, costing owners up to £25m – or £2,625 for every crime. Sadly, businesses are being repeatedly takes every spare minute you have, and the less time you spend worrying about things like safety and security, the more you can focus on growing your business. At London Security Syndicate we help you protect your business and livelihood – providing business security solutions to deliver.
                          </p>

                          <h3>
                            Residential
                          </h3>

                          <p>
                            There’s nothing more distressing than having your home broken into and your personal. Protect yourself with our services below for full 24 hour a day peace of mind.
                          </p>

                          <h3>
                            Alarm Response
                          </h3>
                          <p>
                            Every London Security Syndicates alarm can be linked to our UK-based Alarm Monitoring Centre,which is manned by monitoring experts who know how best to react to any alert.
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- map container -->
        <div id="map" class="fh5co-map"></div>

        {{> footerTag}}
    </div>
    <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->

    {{> mapScripts}}
</body>

</html>
