<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<!-- html template borrowed from https://freehtml5.co/ :)-->

{{> headTag}}

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">
            {{> headerTag}}

            <!-- end:header-top -->
            <div id="fh5co-about">
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-10 col-md-offset-1 animate-box">
                            <p>
                                We provide physical protection to diplomats, artists, athletes, businessmen, individuals and families. In general, permanent clients have details of executive protection agents assigned to them, whereas temporary visitors are provided executive protection
                                agents on assignment from one of our local field offices.
                            </p>

                            <p>
                                We can provide both male and female bodyguards who are discreet, presentable and professional.
                            </p>

                            <p>
                                Many of the close protection agents have had experience of working within the UK and have been trained and assessed with regards to their background, honesty and integrity.
                            </p>

                            <p>
                                The protection goes well beyond surrounding the individual with the best agents. We will not only provide a highly professional standard of executive protection services, but a tailor-made complete protective solution based on our up to date local knowledge.
                                Our executive protection services are offered either as high profile or low profile (non visible) to suit customer needs, threat profile and other tactical preferences.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="container">
                  <div class="row row-bottom-padded-md">
                    <div class="col-md-12 animate-box">
                      <figure>
                        <img src="images/services.jpg" alt="detect and prevent" class="img-responsive">
                      </figure>
                    </div>
                  </div>
                </div> -->
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-10 col-md-offset-1 animate-box">
                          <p>
                              In some cases, professional driving services may be necessary and we are pleased to be able to provide this facility by way of police and security service trained personnel.
                          </p>

                          <p>
                              Our teams can be deployed anywhere in the UK depending on threat assessment and assignment. We specialise in the supply of individual close protection officers right up to complete asset protection teams, our clients range from film and media, sports,
                              business.
                          </p>

                          <p>
                              Contracts for Personal Protection from 4 hours (minimum), to one year.
                          </p>

                          <p>
                              Our aim is to keep the clients safe from unwanted attention or physical harm. It includes: protecting clients of physical violence, checking the premises before client arrival, accompanying them on business and social trips and driving client to and from
                              venues.
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- map container -->
        <div id="map" class="fh5co-map"></div>

        {{> footerTag}}
    </div>
    <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->

    {{> mapScripts}}
</body>

</html>
