<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- html template borrowed from https://freehtml5.co/ :)-->

{{> headTag}}
<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      {{> headerTag}}

      <!-- fh5co-work-section -->
  		<div id="fh5co-services-section" class="fh5co-section-gray">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
  						<h3>What We Do</h3>
  						<p>Using the best expertise to keep you, your family and your business safe. B.E.S will provide an exclusive bespoke security solution that will match our security officers by experience, appearance and nationality to fit your requirements. Through our nationwide team of CP officers, we provide safety, confidence, and professionalism to our clients.</p>
  					</div>
  				</div>
  			</div>
  			<div class="container">
  				<div class="row text-center">
  					<div class="col-md-6 col-sm-6">
  						<div class="services animate-box">
  							<span><i class="icon-users"></i></span>
  							<h3>Family Protection</h3>
  							<p>Is the preservation from injury or harm of the whole family. Protecting them of physical violence, checking the premises before they will arrive, accompanying them on business and social trips and driving them to and from venues.</p>
  						</div>
  					</div>
  					<div class="col-md-6 col-sm-6">
  						<div class="services animate-box">
  							<span><i class="icon-shield"></i></span>
  							<h3>Close Protection</h3>
  							<p>Is to keep clients safe from unwanted attention or physical harm. It includes: protecting clients of physical violence, checking the premises before client arrival, accompanying clients on business and social trips and driving client to and from venues.</p>
  						</div>
  					</div>
  					<div class="col-md-6 col-sm-6">
  						<div class="services animate-box">
  							<span><i class="icon-truck"></i></span>
  							<h3>Transportation of Valuables</h3>
  							<p>Avoiding the risk of robbery. Making deliveries fast and, in particular, securely. We provide maximum security for our clients who need secure transport of cash or valuables.</p>
  						</div>
  					</div>
  					<div class="col-md-6 col-sm-6">
  						<div class="services animate-box">
  							<span><i class="icon-global"></i></span>
  							<h3>Bodyguard Protection</h3>
  							<p>We can provide both male and female bodyguards who are discreet, presentable and professional.</p>
  						</div>
  					</div>
            <div style="margin-top: 50px" class="col-md-pull-2 col-md-5 col-sm-4">
              <a class="btn btn-primary text-center" href="services.html">
                Find out more about our services
              </a>
            </div>
  				</div>
  			</div>
  		</div>

      <div id="fh5co-content-section">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
  						<h3>What Others Say</h3>
  					</div>
  				</div>
  			</div>
  			<div class="container">
  				<div class="row">
  					<div class="col-md-10 col-md-offset-1">
  						<div class="fh5co-testimonial text-center animate-box">
  							<!-- <figure>
  								<img src="images/user-1.jpg" alt="user">
  							</figure> -->
                <span><i style="font-size: 55px;" class="icon-profile-female"></i></span>
  							<blockquote>
  								<p>“Black Eagle Security gave us a great service at a great standard.”</p>
  							</blockquote>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>

      {{> footerTag}}
    </div><!-- END fh5co-page -->
  </div><!-- END fh5co-wrapper -->

  {{> defScripts}}
</body>

</html>
