<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<!-- html template borrowed from https://freehtml5.co/ :)-->

{{> headTag}}

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">
            {{> headerTag}}

            <!-- end:header-top -->
            <div id="fh5co-about">
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-10 col-md-offset-1 animate-box">
                          <h3>
                            Private Investigations
                          </h3>

                          <p>
                        Sometimes it’s necessary to undertake an investigation on an individual or organisation to establish facts of operation. Our highly trained investigators and security experts are experienced in both private and corporate investigations and operate strictly within a safe, secure and discrete code of conduct.
                          </p>
                          <p>
                            We ensure our officers are discrete, professional and accurate in assessing and collating the information as part of an investigation project.
                          </p>

                          <p>
                            Our experienced undercover and covert teams are an ideal solution to identifying those unknown areas of loss or for the gathering of valuable information for criminal or civil action.
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- map container -->
        <div id="map" class="fh5co-map"></div>

        {{> footerTag}}
    </div>
    <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->

    {{> mapScripts}}
</body>

</html>
