<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- html template borrowed from https://freehtml5.co/ :)-->

{{> headTag}}
<body>
  <div id="fh5co-wrapper">
    <div id="fh5co-page">
      {{> headerTag}}

      <div id="fh5co-services">
  			<div class="container">
  				<div class="row row-bottom-padded-lg">
  					<div class="col-md-3">
  						<div class="fh5co-icon"><i class="icon-users"></i></div>
  					</div>
  					<div class="col-md-8 col-md-push-1">
  						<h4 id="family" class="fh5co-number">01.</h4>
              <h2>Family Protection</h2>
              <p>Is the preservation from injury or harm of the whole family. Protecting them of physical violence, checking the premises before they will arrive, accompanying them on business and social trips and driving them to and from venues.</p>
  					</div>
  				</div>

  				<div class="row row-bottom-padded-lg">
  					<div class="col-md-3 col-md-push-8">
  						<div class="fh5co-icon"><i class="icon-shield"></i></div>
  					</div>
  					<div class="col-md-7 col-md-pull-3">
  						<h4 id="close" class="fh5co-number">02.</h4>
              <h2>Close Protection</h2>
              <p>Is to keep clients safe from unwanted attention or physical harm. It includes: protecting clients of physical violence, checking the premises before client arrival, accompanying clients on business and social trips and driving client to and from venues.</p>
  					</div>
  				</div>

          <div class="row row-bottom-padded-md">
  					<div class="col-md-12 animate-box">
  						<figure>
  							<img src="images/services.jpg" alt="services" class="img-responsive">
  						</figure>
  					</div>
  				</div>

  				<div class="row row-bottom-padded-lg">
  					<div class="col-md-3">
  						<div class="fh5co-icon"><i class="icon-trophy"></i></div>
  					</div>
  					<div class="col-md-8 col-md-push-1">
  						<h4 id="transport" class="fh5co-number">03.</h4>
              <h2>Transportation of Valuables</h2>
              <p>Avoiding the risk of robbery. Making deliveries fast and, in particular, securely. We provide maximum security for our clients who need secure transport of cash or valuables.</p>
  					</div>
  				</div>

  				<div class="row row-bottom-padded-lg">
  					<div class="col-md-3 col-md-push-8">
  						<div class="fh5co-icon"><i class="icon-globe"></i></div>
  					</div>
  					<div class="col-md-7 col-md-pull-3">
  						<h4 class="fh5co-number">04.</h4>
              <h2 id="bodyguard">Bodyguard Protection</h2>
              <p>We can provide both male and female bodyguards who are discreet, presentable and professional.</p>
              <p>Many of the close protection agents have had experience of working within the UK and have been trained and assessed with regards to their background, honesty and integrity.
              </p>
              <p>
                In some cases, professional driving services may be necessary and we are pleased to be able to provide this facility by way of police and security service trained personnel.</p>
              <p>
                Our teams can be deployed any in the UK depending on threat assessment and assignment. We specialise in the supply of individual close protection officers right up to complete asset protection teams, our clients range from film and media, sports, business.
              </p>
              <p>
                Contracts for Personal Protection from 4 hours (minimum), to one year.
              </p>
  					</div>
  				</div>


  				<div class="row row-bottom-padded-lg">
  					<div class="col-md-3">
  						<div class="fh5co-icon"><i class="icon-video-camera2"></i></div>
  					</div>
  					<div class="col-md-8 col-md-push-1">
  						<h4 class="fh5co-number">05.</h4>
  						<h2 id="cctv">CCTV Remote Monitoring</h2>
  						<p>Utilising your existing CCTV system or opting for a new bespoke package we can remotely monitor your premises in real time, pre determined checks or by receiving alarms triggered by your detectors on site. We using the latest up-to-date manufacturing and proven technology from multi camera and dedicated access to stand alone systems. We specialise in PAC, access control, and bespoke technology systems.</p>
  					</div>
  				</div>

  				<div class="row row-bottom-padded-lg">
  					<div class="col-md-3 col-md-push-8">
  						<div class="fh5co-icon"><i class="icon-presentation"></i></div>
  					</div>
  					<div class="col-md-7 col-md-pull-3">
  						<h4 class="fh5co-number">06.</h4>
  						<h2>Event Security</h2>
  						<p>Working very closely not only with event organisers but those attending the event we ensure that the experience of the occasion is not only enjoyable but safe and secure. All aspects are provided for from the initial risk assessment through to liaising with emergency services and facilities provision nothing is left to chance.</p>
  					</div>
  				</div>

          <div class="row row-bottom-padded-lg">
  					<div class="col-md-3">
  						<div class="fh5co-icon"><i class="icon-magnifying-glass"></i></div>
  					</div>
  					<div class="col-md-7 col-md-push-1">
  						<h4 class="fh5co-number">07.</h4>
  						<h2 id="investigations">Investigations, Loss Prevention & Special Projects</h2>
  						<p>Our experienced undercover and covert teams are an ideal solution to identifying those unknown areas of loss or for the gathering of valuable information for criminal or civil action.</p>
  					</div>
  				</div>

          <div class="row">
            <div class="col-md-9 col-md-offset-1 animate-box">
              <h4 class="fh5co-number">Other Services</h4>
              <p>
                We provide physical protection to diplomats, artists, athletes, businessmen, individuals and families. In general, permanent clients have details of executive protection agents assigned to them, whereas temporary visitors are provided executive protection agents on assignment from one of our local field offices.
              </p>
              <p>
                  The protection goes well beyond surrounding the individual with the best agents. We will not only provide a highly professional  standard of executive protection services, but a tailor-made complete protective solution based on our up to date local knowledge. Our executive protection services are offered either as high profile or low profile (non visible) to suit customer needs, threat profile and other tactical preferences.
              </p>
              <p>
                  Our executive protection agents will pick you up and safely bring you to your destination. Executive protection agents, drivers and vehicles will be at the clients disposal throughout the entire assignment, providing safety, comfort and excellent security to guarantee the best possible threat mitigation.
              </p>

              <p>
                As part of the mission of preventing an incident before it occurs, we rely on careful advance work and threat assessments developed to identify potential risks to our clients. Advances in technology and our international network will provide for a safe and comfortable experience.
                No longer can one rely solely on human resources and physical barriers in designing a security plan; We also addresses the role and inherent vulnerabilities of critical infrastructures, potential terrorist activities and up to date regional problem reports upon which dynamic security plans are built.
              </p>

              <p>
                  All our executive protection agents have high moral standards and outstanding social skills. Each executive protection agent is thoroughly trained in a wide variety of tactical, protective and security related topics including, but not limited to, countermeasures to surveillance, counter kidnapping, first aid and protocol by the world renowned
              </p>
              <p>
                In general, prior to the clients arrival, personnel in advance conduct site surveys which assess needs for manpower, equipment, hospitals, rescue, other public services and evacuation routes for emergencies.
              </p>

              <p>
                Prior to the arrival, a senior security adviser coordinates all resources relevant to the visit and establishes contact with our local field office in the region. Intelligence is processed and options are outlined, checkpoints are established and on certain occasions access to secured areas will be limited.
                During foreign visits International Security Agency and local resources form our international support network, including the local police, will be working in close proximity to receive up to date intelligence on the local situation.
              </p>
              <p>
                Our Tactical Operations Support Group acts as the communication center for all operational activities, monitors emergencies and keeps all participants in contact with one another. Constant threat analysis, coordinating travel, reservations, hotels and everything related to the visit making it a pleasant, relaxing, comfortable and safe time for our clients.
              </p>
              <p>
                It has become more important than ever to protect executive assets by providing them with the best threat mitigation available. We provide an excellent flexibility and competency to operate within a wide range of environments for behalf of our clients.
              </p>
            </div>
  			</div>
  		</div>
  		<!-- END fh5co-services-section -->

      <!-- map container -->

      {{> footerTag}}
    </div><!-- END fh5co-page -->
  </div><!-- END fh5co-wrapper -->

  {{> defScripts}}
</body>

</html>
