<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Black Eagle Security</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Using the best expertise to keep you, your family and your business safe. B.E.S will provide an exclusive bespoke security solution that will match our security officers by experience, appearance and nationality to fit your requirements. Through our nationwide team of CP officers, we provide safety, confidence, and professionalism to our clients." />
	<meta name="keywords" content="family protection close protection transportation of valuables bodyguard CCTV" />
	<meta name="author" content="@byverdu" />
  <link rel="icon" type="image/png" href="./images/favicon.png">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/styles.min.css">

  <!-- Modernizr JS -->
	<script src="js/lib/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
